@import "mainColor";
@import "NavBar";
@import "_faq";
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto:wght@100&display=swap');


$backColor:rgb(136, 32, 14);
$baseColor:rgb(255, 0, 200);
$baseSize:1.5em;
$baseWidth:1200px;



body {

    h1 {


        color: $yellow;
        font-family: 'Henny Penny',
            cursive;

    }

    background-color: $yellow;
    color: $green;
    font-size: $baseSize;
    width: 100%;
    font-family: 'Roboto',
    sans-serif;


    .img-fluid {
        width: 14%;
        height: auto;

        @media only screen and (max-width: 700px) and (min-width: 200px) {

            width: 20%;
            height: auto;
        }

        @media only screen and (max-width: 399px) and (min-width: 100px) {

            width: 25%;
            height: auto;
        }



    }


}

h1.koteret2 {
    color: $purple;
    text-decoration: underline;
    font-family: 'roboto',
        sans-serif;
    font-weight: bold;


}

.change {
    color: $purple
}

footer {
    background-color: $black;
    text-align: center;
    font-family: 'pattaya',
        sans-serif;
}

.mapa {

    @media only screen and (max-width: 1040px) and (min-width: 951px) {

        width: 750px;
        height: 700px;
    }

    @media only screen and (max-width: 950px) and (min-width: 610px) {

        width: 550px;
        height: 500px;
    }

    @media only screen and (max-width: 609px) and (min-width: 300px) {

        width: 350px;
        height: 300px;
        font-size: 14px;
    }
}





.spin {
    width: 80%;
    height: 400px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto',
        sans-serif;




    img {
        height: 100%;
        width: 100%;

        
    }

    .carousel-item {
        width: 100%;
        height: 100%;
    }

    .carousel {
        height: 100%;
    }

    #carouselExampleControls {
        width: 100%;
    }

    .carousel-inner {
        height: 100%;
    }
}

a {
    color: $black !important;
    font-family: 'Henny Penny',
        cursive;
    font-size: 36px;

}

ul.nav.nav-tabs>li {
    display: inline-block;
    line-height: 50px;
    height: 100%;
    text-transform: uppercase;
}

ul.nav.nav-tabs>li a {
    display: block;
    padding: 10px;
    color: $green !important;

}

ul.nav.nav-tabs>li a:hover,
ul.nav.nav-tabs>li:hover {
    background: #FB282F;
    color: #fff !important;
    text-decoration: none !important;
}

ul.nav.nav-tabs>li a.active {
    background: #282425;
    color: #fff !important;
    text-decoration: none !important;
}

.about {

    background-color: $yellow;
    margin-left: 5px;

    p {
        @media only screen and (max-width: 1500px) and (min-width: 970px) {
            font-size: 18px;
        }

        @media only screen and (max-width: 969px) and (min-width: 845px) {
            font-size: 18px;
        }

        @media only screen and (max-width: 844px) and (min-width: 500px) {
            font-size: 14px;
        }


    }

    .koteret2 {
        color: $purple;


    }

    h2 {
        color: $purple;
        text-decoration: underline;
        font-family: 'Pattaya',
            sans-serif;
        margin-left: 20px;
    }



    h3 {
        color: $purple;
        font-size: 28px;
        font-family: 'Pattaya',
            sans-serif;
        text-decoration: underline;

    }

    .pic1 {
        width: 17%;
        height: auto;
    }

}



.koteret {
    font-family: 'Pattaya',
        sans-serif;
    text-decoration: underline;

}

.name1 {
    font-size: 20px;
    font-family: 'roboto',
        sans-serif;
    font-weight: bold;
    text-decoration: underline;
}

.conta {
    font-family: 'roboto',
        sans-serif;
    font-size: 25px;
    font-weight: bold;

}

.default {
    font-family: 'pattaya',
        sans-serif;
    font-size: 24px;

}



h3 {
    color: $purple;
    font-size: 28px;
    font-family: 'Pattaya',
        sans-serif;
    text-decoration: underline;
}

label {
    font-family: 'pattaya',
        sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: $purple;
}




p {
    font-size: 14px;
    color: $purple;
    font-family: 'Roboto',
        sans-serif;

    @media only screen and (max-width: 1200px) and (min-width: 970px) {
        font-size: 13px;
    }

    @media only screen and (max-width: 969px) and (min-width: 845px) {
        font-size: 12px;
    }

    @media only screen and (max-width: 844px) and (min-width: 710px) {
        font-size: 11px;
    }

    @media only screen and (max-width: 709px) and (min-width: 680px) {
        font-size: 10.30px;
    }

    @media only screen and (max-width: 679px) and (min-width: 300px) {
        font-size: 9.3px;
    }



    h3 {
        color: $purple;
        font-size: 22px;
        font-family: 'Pattaya',
            sans-serif;
    }
}

.one {
    color: yellow;
}



.cards {

    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 550px);
    grid-template-columns: repeat(4, 1fr);
    background-color: $yellow;
    grid-gap: 5px;
    font-size: 13px;
    padding: 3px;



    img {
        height: auto;
        width: 100%;
    }

    h4 {
        @media only screen and (max-width: 600px) and (min-width: 400px) {
            font-size: 14px;
            font-family: 'Pattaya',
                sans-serif;
        }
    }

    @media only screen and (max-width: 499px) and (min-width: 200px) {

        font-size: 1px;
    }


    @media only screen and (max-width: 700px) and (min-width: 500px) {

        font-size: 6.5px;
    }

    @media only screen and (max-width: 900px) and (min-width: 700px) {

        font-size: 10px;
    }



}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}